.card-favorite {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card-item {
  border: 1px solid black;
  margin: 0.5%;
  width: 30%;
  padding: 1%;
  img {
    width: 100%;
  }
  a{
    padding: 1%;
    text-decoration: none;
  }
}
